In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('test.xlsx')
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     14 non-null     datetime64[ns]
 1   account  14 non-null     object
 2   value    14 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 464.0+ bytes

In [17]:
df

         date        account  value
0  2022-06-06  Bonds account    155
1  2022-06-07  Bonds account    155
2  2022-06-08  Bonds account    200
3  2022-06-09  Bonds account    250
4  2022-06-18  Bonds account    300
5  2022-06-19  Bonds account    350
6  2022-06-17     Dubai bank   4000
7  2022-06-13       checking    200
8  2022-06-14       checking    250
9  2022-06-15       checking    300
10 2022-06-16       checking    350
11 2022-06-17       checking    400
12 2022-06-18       checking    450
13 2022-06-19       checking    500

In [4]:
periods=5    
cutoff_date = df["date"].iloc[-1] - pd.Timedelta(days=periods)

last_5_transactions = df[df['date'] > cutoff_date]

last_5_transactions_copy = last_5_transactions.copy()

last_5_transactions_copy.loc[:, 'date'] = pd.to_datetime(last_5_transactions['date']).dt.date

last_5_transactions_copy.set_index('date', inplace=True)

last_5_transactions_pivot = last_5_transactions_copy.pivot_table('value', index='account', columns='date').reset_index()

last_5_transactions_pivot.fillna(0, inplace=True)

last_5_transactions_pivot= last_5_transactions_pivot.round(0)

m=(last_5_transactions_pivot.dtypes=='float')

#last_5_transactions_pivot_copy = df.loc[df.col1>2].copy()

last_5_transactions_pivot.loc[:,m]=last_5_transactions_pivot.loc[:,m].astype(int)

In [6]:
#last_5_transactions_pivot = last_5_transactions_pivot.rename_axis('index')

In [7]:
last_5_transactions_pivot

date,account,2022-06-15,2022-06-16,2022-06-17,2022-06-18,2022-06-19
0,Bonds account,0,0,0,300,350
1,Dubai bank,0,0,4000,0,0
2,checking,300,350,400,450,500

In [9]:
column_1= last_5_transactions_pivot.iloc[:, 1]
column_1

0      0
1      0
2    300
Name: 2022-06-15, dtype: int32

In [16]:
last_5_transactions_pivot.account

0    Bonds account
1       Dubai bank
2         checking
Name: account, dtype: object